/*MOBILE FIRST*/
:root {
    --primari: #808080;  
    --fons: #d8d7d7;
    --fons-clar: #f5f1f1;
    --taronja: #ee7463;
    --salmo: #f08080;
    --groc: #eae08a;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

body {
    padding: 15px 13px 15px 13px;
    background-color: white;
    max-width: 1200px;
    font-size: 1rem;
}

h1 {
    color: rgba(238, 116, 99, 0.8);
    text-align: center;
    font-size: 1.5rem;
}

ul {
    padding: 0px 5px 0px 5px;
}

li {
    list-style: none;
    margin: 0 5px 5px 10px;
    min-width: 80px;
}

a {
    text-decoration: none;
    color: var(--primari);
}

a:hover {
    color: var(--taronja);
}

i {
    margin-right: 5px;
    font-size: 1rem;
}

/*HEADER*/
.header {
    background-image: url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 20px 0 20px;
    margin-bottom: 10px;
    min-height: 400px;
    max-width: 100%;
    display: grid;
}

.nav-animation-logo-content {
    min-width: 80px;
    min-height: 80px;
}

.nav-logo {
    width: 70px;
    animation-name: logo;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes logo {
    0% {
        width: 70px;
    }25%{
        width: 72px;
    }50%{
        width: 74px;
    }75%{
        width: 72px;
    }100%{
        width: 70px;
    }
}

.nav {
    margin-bottom: 10px;
    text-align: center;
}

.hero {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 20px 60px 20px;
    max-width: 1000px;
    margin-top: 150px;
    margin-bottom: 0;
}

.hero-claim>h1 {
    animation-name: textAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes textAnimation {
    0%{
        color: var(--taronja);
        word-spacing: 1.5rem;
    }33%{
        color: var(--salmo);
        word-spacing: 1.8rem;
    }66%{
        color: var(--groc);
        word-spacing: 1.4rem;
    }100%{
        color: var(--salmo);
        word-spacing: 1.5rem;
    }
}

/*MAIN*/
.main {
    margin-bottom: 10px;
    min-width: 100%;
}

.principal {
    background-color: var(--fons);
    margin-bottom: 10px;
    padding: 20px;
}

.card {
    background-color: var(--fons-clar);
    padding: 10px;
}

.card-container {
    margin-bottom: 10px;
}

.card-img {
    width: 100%;
    max-height: 200px;
    position: relative;
    overflow: hidden;
}

.data {
    color: var(--groc);
    font-size: 1rem;
    position: absolute;
    transform: translate(5px, -25px);
}

.card-title {
    background-color: var(--salmo);
    color: white;
    text-transform: uppercase;
    padding: 15px 0 5px 5px; 
    margin-bottom: 20px;
}

.card-text {
    text-align: justify;
    margin-bottom: 10px;
}

.card-more {
    color: var(--fons);
}

.card-more:hover {
    color: var(--taronja);
    cursor: pointer;
}

h3 {
    margin-bottom: 10px;
}

.peu-main-container {
    text-align: center;
    grid-area: 3/1/3/3;
    margin-top: 10px;
}

.aside-container {
    background-color: var(--fons);
    text-align: center;
    padding: 10px;
}

/*FOOTER*/
.footer {
    display: grid;
    grid-template-columns: 10px 4fr;
    text-align: center;
    background-color: var(--fons-clar);
    min-width: 100%;
    margin: 0;
}

.footer-text {
    text-align: center;
    padding: 10px 0 10px 0;
}

.aux-line {
    align-self: stretch;
    background-color: var(--fons);
    min-width: 10px;
}


/*MEDIA QUERIES -- > TABLET */
@media (min-width: 768px) {
    /*Header*/
    .header {
        display: grid;
    }

    .nav {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        min-width: 100%;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    h1 {
        font-size: 2rem;
    }

    /*Content*/
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .principal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        justify-content: stretch;
        grid-gap: 10px;
        margin-bottom: 10px;
    }

    .card-container {
        margin-bottom: 0;
        align-self: stretch;
    }

    .card {
        min-height: 100%;
    }

    .card-text {
        column-count: 2;
        column-gap: 2rem;
    }

    .aside-container {
        min-width: 100%;
    }
}

/*MEDIA QUERIES -- > ESCRIPTORI */
@media (min-width: 1024px) {
    /*Content*/
    .main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 10px;
    }

    .principal {
        margin-bottom: 0;
    }

    .aside-text>h3 {
        margin-top: 20px;
    }
}